/*variables for colors and textures*/
:root {  
  --font: Impact, sans-serif;
  --teal: #55bec2;
  --light_teal: #0df7ff;
  --blue: #39367d;
  --light_blue: #392fff;
  --purple: #a84a9c;
  --light_purple: #ff04de;
  --black_text_shadow:
    0vw .2vw 0.5vw black,
    0.2vw .2vw 0.5vw black;
  --color_text_shadow: 
    -0.2vw -0.2vw 0.3vw var(--light_purple),
    0.2vw 0.2vw 0.3vw var(--light_teal);
  --glow-text-shadow:
    0 0 4vw #00F7FF; 
}

/*whole page settings*/
html, body {
  background: black;
  overflow: hidden;
  font-family: var(--font);
}

.whole_page {
  background: radial-gradient(circle, #ff04de55, transparent);
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.panel {
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  mix-blend-mode: screen;
}

/*left panel*/
.left_panel {
  background: radial-gradient(ellipse closest-side, #4f46ee, transparent);
  flex: 1;
  width: 25vw;
	overflow-y: auto;
	overflow-x: visible;
  align-content: center;
  justify-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*left panel 1 (name inputs)*/
.name_inputs {
  width: min(40vw, 20vw);
  display: block;
  text-align: center;
  font: 2vw var(--font);
  color: white;
  background-color: black;
  margin: 1vw;
  height: 2vw;
  padding-bottom: 0.5vw;
  border: .3vw solid var(--purple); 
  border-radius: .2vw 1.5vw;
  box-shadow: -1vw 1vw 3vw black;
  transition: transform .2s ease-out;
}
input::placeholder {
  color: var(--teal);
  font-size: 1.5vw;
}
input:focus {
  transform: scale(1.1);
  background-color: var(--blue);
}
input:hover {
  transform: scale(1.1);
  background-color: var(--blue);
}

/*middle panel*/
.middle_panel {
  flex: 2;
  align-content: center;
  justify-items: center;
}

/*middle panel 1 (title)*/
h1 {
  text-align: center;
  filter: drop-shadow(1vw 1vw 1vw black);
  line-height: 0.9;
  transition: all .2s ease-out;
	.titleTeal {
		color: var(--teal); font-size: 7.8vw;}
	.titleBlue {
		color: var(--blue); font-size: 7.8vw;}
	.titlePurple {
		color: var(--purple); font-size: 14.5vw;}
	.titleEnd {
		color:#39367d; font-size: 14.5vw;}
	.subTitle {
		display:block; transform: rotate(-5deg); color:white; width: 50vw; background-color: transparent; font-size: 4.8vw; text-shadow: var(--color_text_shadow); outline: 4vw black; -webkit-text-stroke: 0.06vw black; }
}

/*left panel 2 (title)*/
#left_panel h1 span {
  display: inline-block;
}

#left_panel .titleTeal {
  color: var(--teal);
  font-size: 3.9vw;
}
#left_panel .titleBlue {
  color: var(--blue);
  font-size: 3.9vw;
}
#left_panel .titlePurple {
  color: var(--purple);
  font-size: 7.25vw;
}
#left_panel .titleEnd {
  color: #39367d;
  font-size: 7.25vw;
}
#left_panel .subTitle {
  display: block;
  transform: rotate(-5deg);
  color: white;
  width: 30vw;
  background-color: transparent;
  font-size: 2.4vw;
  text-shadow: var(--color_text_shadow);
  outline: 2vw black;
  -webkit-text-stroke: 0.03vw black;
} 

h1:hover {
  transform: scale(1.1);
	text-shadow:
    0 0.8vw 1.2vw black,
    0.1vw 0 0.8vw black,
    -0.1vw 0 0.5vw black;
  filter: drop-shadow(0 0 3vw #ff04de85);
	cursor: default;
}

/*middle panel 2 (meme image)*/
.memeImage {
  max-height: 70vh;
  max-width: 40vw;
  filter: drop-shadow(0 0 2vw purple);
  box-shadow: 0 0 1vw white, 0 0 3vw var(--light_purple);
  border-image: linear-gradient(to left, var(--teal), var(--blue)) 1 /5vw;
  transition: filter 2s ease-in-out;
  display: block;
  z-index: -1;
  margin-bottom: 3vw;
}

/*right panel*/
.right_panel {
  background: radial-gradient(ellipse closest-side, #46f9ff70, transparent);
  flex: 1;
  width: 25vw;
  align-content: center;
  justify-items: center;
	margin-right: 3vw;
}

/*buttons and file inputs*/
.file {
  opacity: 0;
  width: 0.01vw;
  height: 0.01vw;
}
.button {
  margin: 0.5vw 0;
  justify-content: center;
  border-right: 0.6vw groove var(--purple);
  border-left: 0.6vw ridge var(--purple);
  border-bottom: 0.6vw groove var(--purple);
  border-top: 0.6vw ridge var(--purple);
  text-align: center;
  padding: 0.5vw 2vw 1vw 2vw;
  color: white;
  width: clamp(5vw, 12vw, 15vw);
  height: clamp(1vw, 2vw, 2.5vw);
  font: 2vw var(--font);
  font-size: clamp(1vw, 2vw, 5vw);
  text-shadow: var(--black_text_shadow);
  box-shadow: 0 0 4vw black;
  border-radius: 5vw;
  cursor: pointer;
  transition: all .3s ease-out;
  background: radial-gradient(var(--teal), black 70%);
}
.glowing_button {
  margin: 1vw 0;
  justify-content: center;
  text-align: center;
  padding: 1vw 2vw;
  color: white;
  width: clamp(2vw, 12vw, 15vw);
  font: 2vw var(--font);
  text-shadow: var(--black_text_shadow);
  border-radius: 8vw;
  cursor: pointer;
  transition: all .3s ease-out;
  animation: pulse-glow 0.8s infinite alternate;
}
@keyframes pulse-glow {
  from {
    border-right: 0.6vw groove var(--light_teal);
    border-left: 0.6vw ridge var(--light_teal);
    border-bottom: 0.6vw groove var(--light_teal);
    border-top: 0.6vw ridge var(--light_teal);
    box-shadow: 0 0 0.5vw white, 0 0 1vw var(--light_teal);
    background: black;
  }
  to {
    border-right: 0.6vw groove var(--light_purple);
    border-left: 0.6vw ridge var(--light_purple);
    border-bottom: 0.6vw groove var(--light_purple);
    border-top: 0.6vw ridge var(--light_purple);
    box-shadow: 0 0 1vw white, 0 0 3vw var(--light_purple);
    background: var(--purple);
  }
}
.glowing_button:hover {
  transform: scale(1.1);
	cursor: pointer;
}

.button:hover {
	cursor: default;
}

/*right panel 2 (player names and scores)*/
.player_scores {
  display: flex;
  align-items: center;
}

.names {
	width: min(30vw, 15vw);
  display: flex;
	align-items: center;
  text-align: center;
	justify-content: center;
  font: 1.5vw var(--font);
	color: white;
  text-shadow: var(--black_text_shadow);
  border-radius: 3vw;
  border-right: 0.6vw groove var(--light_teal);
  border-left: 0.6vw ridge var(--light_teal);
  border-bottom: 0.6vw groove var(--light_teal);
  border-top: 0.6vw ridge var(--light_teal);
	background: radial-gradient(circle, var(--teal), var(--blue) 20%);
  box-shadow: 0 0 2vw var(--light_teal);
  transition: all .5s ease-in-out;
	transform: translatex(0);
}

.names:hover {
	cursor: pointer;
	transform: scale(1.3);
	border-right: 0.6vw groove var(--light_purple);
  border-left: 0.6vw ridge var(--light_purple);
  border-bottom: 0.6vw groove var(--light_purple);
  border-top: 0.6vw ridge var(--light_purple);
  box-shadow: 0 0 7vw var(--light_purple);
  background: var(--purple);
	transform: translatex(-2vw);
}
